.header{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  background-color: gray;
  align-items: center;

}

.header_inputs{
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header_inputs .filter_form{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_inputs input,
.header_inputs select{
  padding: 5px;
  font-size: 20px;
}
/* selecting 2 separate elements and they share common styles. */
.search_form, 
.filter_form{
  border: 1px solid #ccc;
  padding: 2px;
  display: flex;
  gap: 5px;
}
.header_inputs button{
  font-size: 20px;
  padding: 5px;
}

.movie_list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;

}

.movie_item{
  border: 1px solid #ccc;
  padding: 5px;
  width: 32%;
}